// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.three-js{
  z-index: 0;
}

main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.horizontal-section {
  position: absolute;
  width: 100vw;
  top: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mute-unmute {
  display: block;
  top: 100px;
  left: 100px;
}
