// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.three-js{
  z-index: 0;
}

main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.mute-horizontal {
  position: absolute;
  width: 100vw;
  top: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#interaction-container {
  cursor: pointer;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mute-button {
  transition: 0.5s;
  cursor: pointer;
  color: white;
  display: inline-block;
  flex-grow: 1;
}
.mute-button:hover {
  color: rgb(247, 140, 0);
  transition: 0.5s;
}

.mars-overlay {
  width: 100vw;
  position: absolute;
  top: 45vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 8.5%;
}

#projects {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 4s;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.mars-items {
  padding: 18px 45px;
  opacity: 1;
}

.project {
  width: 25vw;
}
.project-image {
  display: block;
  width: 100%;
  border-radius: 1em;
}

.none {
  display: none;
}

#ponder-mars {
  position: absolute;
  width: 470px;
  left: 50%;
  top: 85px;
  margin-left: -235px;
  opacity: 0;
}

.ponder-mars-logo {
  width: 100%;
}

@keyframes logo-animation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}























.x {

}
